$wrapper
  // max-width $contentWidth
  // margin 0 auto
  margin-right 250px
  padding 2rem 2.5rem
  
  @media (max-width: $MQNarrow)
    margin 0 auto
    padding 2rem
    .right-group 
       display none;
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem

